<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="~{base :: head}"><title>Mudi</title></head>
<body>
<div th:replace="~{base :: logo}"></div>
<div class="container">
    <div th:replace="~{base :: titulo('Login')}"></div>

    <div class="card mb-3">
        <form th:action="@{/login}" class="card-body" method="post">
            <div class="mb-3">
                <label for="username">usuário</label>
                <input name="username" class="form-control" id="username" placeholder="usuário"/>
            </div>
            <div class="mb-3">
                <label for="password">senha</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="senha"/>
            </div>
            <button type="submit"  class="btn btn-primary">login</button>
        </form>

    </div>
</div>

</body>
</html>